<% if current_user?(@employee) %>
    <h1>Welcome <%= @employee.first_name %> <%= @employee.last_name %></h1>
<% else %>
    <h1>Welcome to <%= @employee.first_name %> <%= @employee.last_name %>'s Home Page</h1>
<% end %>
<h2>Employee Home Page</h2>
<!--@employee is an employee -->
<!-- @emails is mailing list-->
<div class="container-fluid">
  <h3>Current mailing list</h3>
  <hr>
  <br>
  <%= form_tag employee_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :first_name => nil %>
      </p>
  <% end %>

  <div class="mailingList">
    <% if @users %>
        <% employees_clients = @users %>
    <% else %>
        <% employees_clients = Client.all %>
    <% end %>
    <% employees_clients.each do |e| %>

        <% unless e.is_employee  %>
            <% if e.employee.id == @employee.id %>
                <div class="employee-row row-fluid">
                  <div class="span2">

                    <%= e.first_name %> <%=e.last_name%>
                  </div>
                  <div class="span2">
                    <%= e.email %>
                  </div>

                  <div class="span2" style="padding-left: 50px;">
                    <%= link_to edit_user_path(e.id) do %>
                        <button class="btn btn-primary">Edit</button>
                    <% end %>
                  </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>
