<% if current_user?(@employee) %>
    <h1>Welcome <%= @employee.first_name %> <%= @employee.last_name %></h1>
<% else %>
    <h1>Welcome to <%= @employee.first_name %> <%= @employee.last_name %>'s Home Page</h1>
<% end %>
<h2>Employee Home Page</h2>
<!--@employee is an employee -->
<!-- @emails is mailing list-->
<div class="container-fluid">
  <h3>Current mailing list<span style="float:right;">Recommended Stocks</span></h3>
  <hr>
  <div class="inlineBlock" style="width: 70%;">

    <br>
    <%= form_tag employee_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], style: 'width: 85%;' %>
          <%= submit_tag "Search", :first_name => nil, style: 'font-size:16px;padding:3px 8px;float:right;'  %>
        </p>
    <% end %>

    <div class="mailingList">
      <% if @users %>
          <% employees_clients = @users %>
      <% else %>
          <% employees_clients = Client.all %>
      <% end %>
      <% employees_clients.each do |e| %>

          <% unless e.is_employee  %>
              <% if e.employee.id == @employee.id %>
                  <div class="employee-row row-fluid">
                    <div class="span2">
                      <%=link_to client_path(e) do %>
                          <%= e.first_name %> <%=e.last_name%>
                      <% end %>
                    </div>
                    <div class="span2">
                      <%= e.email %>
                    </div>

                    <div class="span2" style="float:right;">
                      <%= link_to edit_user_path(e.id) do %>
                          <button class="btn btn-primary">Edit</button>
                      <% end %>
                    </div>

                    <div class="span2" style="float:right;">
                      <%=link_to client_path(e) do %>
                          <button class="btn btn-primary">Sell Stock</button>
                      <% end %>
                    </div>

                    <div class="span2" style="float:right;">
                      <%= link_to new_order_path(buy_sell_type: "buy", account_id: e.account.id) do %>
                          <button class="btn btn-primary">Buy Stock</button>
                      <% end %>
                    </div>

                  </div>
              <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="row inlineBlock floatRight" style="width:20%;">
    <% @stock_suggestions.each do |stock, change| %>
        <% if change.to_i > 0 %>
            <%= render 'stocks/stock_simple', stock: stock %>
        <% end %>
    <% end %>
  </div>
</div>
