<h1>Manager Home Page</h1>
<h2>Welcome <%= current_user.first_name %></h2>

<div class="container">
  <div class="row">
    <h3>Sales Report for Last 30 Days</h3>
    <table class="table table-hover">
      <th>Client</th><th>Stock</th><th>Buy/Sell</th><th>Order Type</th><th>Num. Shares</th>
      <th>PPS</th><th>Stock Cost</th><th>Employee</th><th>Transaction Fee</th><!--<th>Completed</th>-->
      <% @sales_report.each do |o|  %>
          <tr><%= render 'orders/order_table', order: o %></tr>
      <% end %>
    </table>
  </div>

  <div class="row">
    <hr>
    <h3>
      Employee of the Month:
      <%= link_to employee_path(@best_employee_revenue[0]), style:'display: inline-block;' do %>
          <%=@best_employee_revenue[0].first_name %> <%= @best_employee_revenue[0].last_name %><br>
      <% end %>
      generated $<%=@best_employee_revenue[1] %>
    </h3>
    <h3>
      Most Valued Client:
      <%= link_to client_path(@best_client_revenue[0]), style:'display: inline-block;'  do %>
          <%=@best_client_revenue[0].first_name %> <%=@best_client_revenue[0].last_name %><br>
      <% end %>
      generated $<%=@best_client_revenue[1] %>
    </h3>
    <hr>
  </div>

  <div class="row">
    <h3>Revenue by client</h3>
    <table class="table table-hover">
      <th>Client Name</th><th>Revenue</th>
      <% @clients.each do |client|%>
          <tr>
            <td>
              <%= link_to client_path(client) do %>
                  <%= client.last_name%>, <%= client.first_name%>
              <% end %>
            </td>
            <td> $<%= client_revenue(client.account.id)%></td>
          </tr>
      <% end %>
    </table>
  </div>

  <div class="row">
    <h3>Stock Types</h3>
    <table class="table table-hover">
      <th>Industry</th><th>Revenue</th>
      <% @stock_types.each do |s| %>
          <tr>
            <td><%= s.capitalize %></td>
            <td>$<%= stock_type_revenue(s) %></td>
          </tr>
      <% end %>
    </table>
  </div>

  <div class="row">
    <h3>Stock Revenue Total</h3>
    <table class="table table-hover">
      <th>Stock Name</th><th>Revenue</th>
      <%@stocks.each do |s| %>
          <tr>
            <td>
              <%= link_to stock_path(s.stock_symbol) do %>
                  <%= s.stock_symbol %>
              <% end %>
            </td>
            <td>$<%= stock_revenue(s.stock_symbol) %></td>
      <% end %>
      </tr>
    </table>
  </div>
</div>