<h1>Stocks Page</h1>
 <h2>Search for stocks</h2>
<%= form_tag stocks_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :stock_symbol => nil %>
    </p>
<% end %>

<div style="width:100%;">
  <% @stocks.each do |s| %>
      <%= link_to stock_path(s.stock_symbol), style: 'display:inline-block;height: 40px;width:230px;vertical-align:top;' do %>
          <div style="font-weight: bold; font-size: 18px;display:inline-block;width:70px;"><%= s.stock_symbol %></div>
          <span style="font-size: 14px;"><%= s.company_name.size > 15 ? s.company_name[0..15] + '...' : s.company_name[0..15]%></span>
      <% end %>
  <% end %>
</div>

