<h1>Stocks Page</h1>
<h2>Search for stock by stock symbol, company name or stock type</h2>
<div class="container">
  <%= form_tag stocks_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], style: 'width: 90%;' %>
        <%= submit_tag "Search", :stock_symbol => nil, style: 'font-size:16px;padding: 3px 8px;float:right;' %>
      </p>
  <% end %>

  <h3>Comprehensive Listing of Stocks</h3>
  <hr>
  <div style="width:100%; margin-bottom: 20px;">
    <% @stocks.each do |stock| %>
        <%= render 'stocks/stock_comprehensive', stock: stock %>
    <% end %>
  </div>

  <% stock_ids = @stocks.collect {|stock| stock.id } %>
  <% orders = Order.where(stock_id: stock_ids) %>

  <h3>Most Recent Order History</h3>
  <table class="table table-hover">
    <th>Client</th><th>Stock</th><th>Buy/Sell</th><th>Order Type</th><th>Num. Shares</th>
    <th>PPS</th><th>Stock Cost</th><th>Employee</th><th>Transaction Fee</th><!--<th>Completed</th>-->
    <% orders.each do |o|  %>
        <tr><%= render 'orders/order_table', order: o %></tr>
    <% end %>
  </table>
  <br><br>

  <div>
    <h3>Best-Seller Stocks</h3>
    <hr>
    <div style="width:100%; margin-bottom: 20px;">
      <% @best_seller_stocks[0..3].each do |stock_id, num_shares| %>
          <% if stock_id > 0 %>
              <%= render 'stocks/stock_simple', stock: Stock.find(stock_id) %>
          <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <h3>Most-Actively Traded Stocks</h3>
    <hr>
    <div style="width:100%; margin-bottom: 20px;">
      <% @most_actively_traded_stocks[0..3].each do |stock_id, num_shares| %>
          <% if stock_id > 0 %>
              <%= render 'stocks/stock_simple', stock: Stock.find(stock_id) %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>