<h1><%= @client.first_name %>'s Order Page</h1>
<h2>Clients Order Page</h2>

<div class="container-fluid">
  <!-- Active Orders -->
  <h3>Current Orders: <%= @active_orders.size %></h3>
  <table class="table table-hover">
    <th>Client</th><th>Stock</th><th>Buy/Sell</th><th>Order Type</th><th>Num. Shares</th>
    <th>PPS</th><th>Stock Cost</th><th>Employee</th><th>Transaction Fee</th><!--<th>Completed</th>-->
    <% @active_orders.each do |o|  %>
        <tr><%= render 'orders/order_table', order: o %></tr>
    <% end %>
  </table>

  <!-- Separator and then orders past -->
  <hr style="margin: 0 auto">

  <!-- Completed Orders -->
  <h3>Completed Orders: <%= @completed_orders.size %></h3>
  <table class="table table-hover">
    <th>Client</th><th>Stock</th><th>Buy/Sell</th><th>Order Type</th><th>Num. Shares</th>
    <th>PPS</th><th>Stock Cost</th><th>Employee</th><th>Transaction Fee</th><!--<th>Completed</th>-->
    <% @completed_orders.each do |o|  %>
        <tr><%= render 'orders/order_table', order: o %></tr>
    <% end %>
  </table>
</div>