<div class="span3">
  <% user = Client.find(Account.find(order.account_id).client_id) %>
  <td><%= user.last_name%>, <%= user.first_name%></td>
  <td><%= order.stock.stock_symbol %></td>
  <td><%= order.buy_sell_type %></td>
  <td><%= ["Market", "Market On Close", "Hidden Stop", "Trailing Stop"][order.order_type] %></td>
  <td><%= order.num_shares %></td>
  <td>$<%= order.price_per_share %></td>
  <td>$<%= order.price_per_share * order.num_shares %></td>
  <td><%= order.employee.last_name %>, <%= order.employee.first_name %></td>
  <td>$<%= order.transaction_fee ? order.transaction_fee : '0'%></td>
  <% order.completed ?  @completed='color: green' : @completed='color: red' %>
  <!--<td><span style="<%#=@completed%>">  <%#= order.completed %></span></td>-->
</div>