<% stock_symbol = Stock.find(owns_stock.stock_id).stock_symbol %>
<h1>Selling <%= client.first_name%> <%= client.last_name %>'s <%= stock_symbol %> stocks</h1>

<%= form_for(order) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <!-- Pick a stock -->
    <%= f.hidden_field :stock_id, value: owns_stock.stock_id %>
    <!-- Enter the number of shares --><br>
    <div>
      <div>Number of Shares (you have <%= owns_stock.num_shares%> shares of <%= stock_symbol %>)</div>
      <%= f.number_field :num_shares, style:"width: 300px;", id: 'num_shares_num_field', max: owns_stock.num_shares, min: 1 %>
      <div id="trans-fee"></div>
      <div id="stock-cost"></div>
      <div id="total-cost"></div>
      <div>Cost will be charged on <%= client.credit_card_no %></div>
    </div>
    <!-- Select the type of order --><br>
    <div>
      <%= f.label :order_type %>
      <ul class="radio-options" style="">
        <li>
          <%= radio_button_tag(:order_type, 0) %>
          <label for="order_type_0">Market</label>
        </li>
        <li style="width: 150px;">
          <%= radio_button_tag(:order_type, 1) %>
          <label for="order_type_0">Market on Close</label>
        </li>
        <li>
          <%= radio_button_tag(:order_type, 2) %>
          <label for="order_type_0">Hidden Stop</label>
        </li>
        <li style="width: 150px;">
          <%= radio_button_tag(:order_type, 3) %>
          <label for="order_type_0">Trailing Stop</label>
        </li>
      </ul>
    </div>
    <%= f.hidden_field :buy_sell_type, value: "sell" %>
    <%= f.hidden_field :account_id, value: account.id %>
    <%= f.hidden_field :owns_stock_id, value: owns_stock.id %>
    <br><br><div><%= f.submit "Create my order", class: "btn btn-large btn-primary" %></div>
<% end %>

<script>
  $(document).ready(function(){

    $('#num_shares_num_field').on('keyup focusout', function(){
      //alert($('#num_shares_num_field').val());
      //alert(document.querySelector('input[name="stock_id"]:checked').value);
      var num_shares = $('#num_shares_num_field').val();
      var pps = <%= owns_stock.price_per_share %>;

      $("#trans-fee").text('Transaction Fee: $' + pps * num_shares * 0.05);
      $("#stock-cost").text('Revenue from sale: $' + pps * num_shares);
      $("#total-cost").text('Total Profit: $' + pps * num_shares * 0.95);
    });

  });
</script>